@import 'colors';

.dropdown {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background-color: $black;

  cursor: pointer;

  &:hover {
    background-color: lighten($black, 20);
  }

  .options {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    background-color: $black;

    &.visible {
      opacity: 1;
    }
  }
}

