@import 'colors';

$veilSize: 4px;

.panel-container {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  .panel {
    flex: 1;

    display: flex;

    position: relative;

    border: 1px solid $green;
    box-sizing: border-box;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .veil {
    background-color: #000;
    position: absolute;
    transition: all .5s;

    &.veil-top {
      top: -$veilSize;
      right: -$veilSize;
      left: -$veilSize;

      height: $veilSize;

      &.hidden {
        left: 110%;
      }
    }

    &.veil-right {
      top: -$veilSize;
      right: -$veilSize;
      bottom: -$veilSize;

      width: $veilSize;

      &.hidden {
        top: 110%;
      }
    }

    &.veil-bottom {
      right: -$veilSize;
      bottom: -$veilSize;
      left: -$veilSize;

      height: $veilSize;

      &.hidden {
        left: 110%;
      }
    }

    &.veil-left {
      top: -$veilSize;
      bottom: -$veilSize;
      left: -$veilSize;

      width: $veilSize;

      &.hidden {
        top: 110%;
      }
    }
  }

  .title {
    flex: 0;

    opacity: 0;
    font-size: 0.7rem;
    transition: opacity .5s;
    text-align: right;

    white-space: nowrap;
    text-overflow: ellipsis;

    &.visible {
      opacity: 1;
    }
  }

  .content {
    opacity: 0;
    transition: opacity .5s;

    &.visible {
      opacity: 1;
    }
  }
}
