@import url('https://fonts.googleapis.com/css?family=Exo+2:200,500');
@import 'colors';

html,
body {
  background-color: $black;
  font-family: 'Exo 2', sans-serif;
  font-size: 100%;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
  color: $white;
}

noscript {
  .quote {
    font-size: 2rem;
  }

  .portfolio {
    display: flex;

    .portrait {
      flex: 1;
      max-width: 200px;

      img {
        height: auto;
        width: 100%;
      }
    }

    .info {
      flex: 1;
    }
  }
}
