.simulator {
    display: grid;
    grid: repeat(10, [row] 1fr) / repeat(10, [col] 1fr);

    min-height: 90vh;

    .view-screen {
        grid-area: row 1 / col 1 / span 6 / span 7;
    }

    .warp-indicator {
        grid-area: row 1 / col 8 / span 6 / span 1;
    }

    .destination {
        grid-area: row 1 / col 9 / span 1 / span 2;
    }

    .communications {
        grid-area: row 2 / col 9 / span 5 / span 2;
    }

    .information {
        grid-area: row 7 / col 1 / span 4 / span 10;
    }
}